<div class="row">
	<div class="offset2 span8">
		<article class="default">
			<h3>Shopping cart</h3>
			
			<%= render @cart %>
			
			<div class="well right">
				<%= link_to "Checkout", new_order_path, class: "btn btn-small btn-primary" %>
				<%= link_to "Remove all", cart_path(@cart), class: "btn btn-small", method: :delete %>
				<%= link_to "Continue shopping", kstuff_path, class: "btn btn-small" %>
			</div>
		</article>
	</div>	
</div>